@import "tailwindcss";


/* navigation li */
.navItems{
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 8px 8px;
    /* background-color: #fb8824; */
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 8px;
    font-weight: 700;
    color: #EA580C;
    gap:2px;
}

.navItems:hover {
    background-color: #1D4ED8;
    color:white;
    border-color: #c2cddc;
    border-width: 2px;
    border-style: solid;

  /* transform: scale(0.95); */
}

/* hide scroll bar for categories dispaly */
#categoriesDisplay::-webkit-scrollbar, #similarProductsCont::-webkit-scrollbar {
  display: none;
}